body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#515076;
    font-weight: 400;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.catalog {
    padding-top: 220px;
    background-image: url(images/bg_2.jpg);
    background-repeat: no-repeat;
}

.title {
    font-size: 70px;   
    line-height: 78px;
    text-align: center;
    font-weight: 400;
    padding: 0;
}

.products-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    width: 1110px;
}

.product-card {
    width: 290px;
    background-color:#5150761A;
    padding: 25px;
    display: inline-block;
}

.product-img {
    width: 100%;
}

.product-category {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color:#A5A3B9;
    text-transform: uppercase;
}

.product-mini-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 5px 0px 5px 0px;
}

.product-price {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}






